html, body, h1, h2, h3, h4, p, ul, ol, li, form, blockquote { margin: 0; padding: 0; }

body { font-family: Bitter, Georgia, serif; font-size: 20px; color: #000000; }

h1, h2, h3, h4, p { margin: 20px 150px 0 20px; }
ul { margin: 20px 150px 0 50px; }
ol { margin: 20px 150px 0 55px; }

h1 { margin-top: 40px; font-size: 55px; font-weight: normal; }
h2 { font-size: 32px; }
p { line-height: 1.6em; }
li { line-height: 1.6em; }

p.publish-date { margin-top: 0; color: gray; font-style: italic; font-size: 25px; }

#header { width: 700px; margin: 0 auto; }

#container { width: 700px; margin: 0 auto; }

#content {}
#nav {}

#footer { width: 700px; margin: 0 auto; padding-bottom: 100px; }

#container .gist { font-size: 13px; margin: 20px 100px 0 20px; }